/*
// COLORS, VARIABLES
// ======
*/
/*
// IMPORTS
// =======
*/
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
/*
// RESET
// =====
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
// TYPOGRAPHY
// ==========
*/
html {
  font-size: 24px;
}

body {
  font-family: 'Space Mono', monospace;
}

.header-title {
  font-size: clamp(0.9rem, 1rem, 1.2rem);
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #00494d;
}

label,
.result-label {
  font-weight: 700;
  font-size: 0.7rem;
}

label {
  color: #5e7a7d;
}

input,
.btn {
  text-align: right;
  font-family: inherit;
  font-size: inherit;
  font-size: 1rem;
  font-weight: 700;
  color: #00494d;
}

.result-label p:first-child {
  color: white;
}

.result-label p:last-child {
  color: #7f9c9f;
  font-size: 0.65rem;
}

.result-value {
  font-size: clamp(1rem, 1.5rem, 2rem);
  font-weight: 700;
  color: #26c0ab;
}

/*
// LAYOUT
// ======
*/
body {
  background-color: #c5e4e7;
}

header {
  margin: 50px auto 40px;
}

.input-form {
  background-color: white;
}

.input-form label {
  display: block;
  margin-bottom: 5px;
}

.input-form input[type='number'] {
  width: 100%;
}

.input-form-bill, .input-form-tip, .input-form-people {
  margin-bottom: 40px;
}

.input-form-tip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-form-tip label {
  width: 100%;
  margin-bottom: 20px;
}

.input-form-tip input {
  margin: 0 0 15px;
}

.result-amount, .result-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

@media (min-width: 900px) {
  body {
    display: -ms-grid;
    display: grid;
    place-content: center;
    min-height: 100vh;
  }
  .main-container {
    position: relative;
    max-width: 920px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .input-form-people {
    margin-bottom: 0;
  }
  .result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 415px;
    margin: 0;
  }
  .result-amount, .result-total {
    margin: 15px 0 50px;
  }
  .result button {
    margin-top: auto;
  }
  footer {
    position: absolute;
    bottom: -25px;
  }
}

/*
// COMPONENTS
// ==========
*/
.main-container {
  background-color: white;
}

.card,
.main-container {
  border-radius: 15px;
}

.card {
  padding: 35px 30px;
}

.card.result {
  padding: 45px 25px 25px;
  background-color: #00494d;
}

header {
  text-align: center;
}

input[type='number'] {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f4fafa;
}

input[type='number']:focus {
  outline: 1px solid #26c0ab;
}

.input-field {
  position: relative;
}

.input-field input::-webkit-input-placeholder {
  color: #c5e4e7;
}

.input-field input:-ms-input-placeholder {
  color: #c5e4e7;
}

.input-field input::-ms-input-placeholder {
  color: #c5e4e7;
}

.input-field input::placeholder {
  color: #c5e4e7;
}

.input-field::before {
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  left: 15px;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.input-form-bill .input-field::before {
  background-image: url("../images/icon-dollar.svg");
}

.input-form-people .input-field::before {
  background-image: url("../images/icon-person.svg");
}

.input-form-tip input.btn {
  width: 145px;
  color: white;
  background-color: #00494d;
}

.input-form-tip input.btn:hover, .input-form-tip input.btn:focus {
  background-color: #c5e4e7;
  color: #00494d;
  outline: none;
}

.input-form-tip input.btn.active {
  background-color: #26c0ab;
  color: #00494d;
}

.input-form-tip input.btn#custom {
  text-align: right;
  padding: 5px;
  background-color: #f4fafa;
  color: #00494d;
}

.btn {
  padding: 5px 15px;
  border: 0;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.btn-primary {
  width: 100%;
  background-color: #26c0ab;
}

.btn-primary:hover {
  background-color: #c5e4e7;
}

.btn-primary.disabled {
  opacity: 0.3;
  cursor: auto;
}

.btn-primary.disabled:hover {
  background-color: #26c0ab;
}

.btn-primary:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media (min-width: 900px) {
  .main-container {
    padding: 30px;
  }
  .card {
    padding: 20px;
  }
  .input-form {
    padding-right: 50px;
  }
  .input-form-tip input.btn {
    width: 115px;
  }
}
