/*
// COLORS, VARIABLES
// ======
*/
/*
// IMPORTS
// =======
*/
/*
// RESET
// =====
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
// TYPOGRAPHY
// ==========
*/
body {
  font-family: sans-serif;
}

/*
// LAYOUT
// ======
*/
/*
// COMPONENTS
// ==========
*/
