/*
// COLORS, VARIABLES
// ======
*/

/*
// IMPORTS
// =======
*/

/*
// RESET
// =====
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
// TYPOGRAPHY
// ==========
*/

body {
  font-family: sans-serif;
}

/*
// LAYOUT
// ======
*/

/*
// COMPONENTS
// ==========
*/
