/*
// COLORS, VARIABLES
// ======
*/
//## Colors

//### Primary

$Strong-cyan: hsl(172, 67%, 45%);

//### Neutral

$Very-dark-cyan: hsl(183, 100%, 15%);
$Dark-grayish-cyan-1: hsl(186, 14%, 43%);
$Dark-grayish-cyan-2: hsl(184, 14%, 56%);
$Light-grayish-cyan-1: hsl(185, 41%, 84%);
$Light-grayish-cyan-2: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

$break-point: 900px;

/*
// IMPORTS
// =======
*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/*
// RESET
// =====
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
// TYPOGRAPHY
// ==========
*/

html {
  font-size: 24px;
}

body {
  font-family: 'Space Mono', monospace;
}

.header-title {
  font-size: clamp(0.9rem, 1rem, 1.2rem);
  text-transform: uppercase;
  letter-spacing: 10px;
  color: $Very-dark-cyan;
}

label,
.result-label,
input.error + p {
  font-weight: 700;
  font-size: 0.7rem;
}
label {
  color: $Dark-grayish-cyan-1;
}

input,
.btn {
  text-align: right;
  font-family: inherit;
  font-size: inherit;
  font-size: 1rem;
  font-weight: 700;
  color: $Very-dark-cyan;
}

input.error + p {
  color: indianred;
}

.result-label {
  p:first-child {
    color: $White;
  }
  p:last-child {
    color: $Dark-grayish-cyan-2;
    font-size: 0.65rem;
  }
}

.result-value {
  font-size: clamp(1rem, 1.5rem, 2rem);
  font-weight: 700;
  color: $Strong-cyan;
}

/*
// LAYOUT
// ======
*/
body {
  background-color: $Light-grayish-cyan-1;
}

header {
  margin: 50px auto 40px;
}

.input-form {
  background-color: $White;

  label {
    display: block;
    margin-bottom: 5px;
  }
  input[type='number'] {
    width: 100%;
  }

  &-bill,
  &-tip,
  &-people {
    margin-bottom: 40px;
  }

  &-tip {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    label {
      width: 100%;
      margin-bottom: 20px;
    }

    input {
      margin: 0 0 15px;
    }
  }

  &-people {
    input + p {
      display: none;
    }

    input.error + p {
      display: block;
      position: absolute;
      right: 0;
      top: -30px;
    }
  }
}

.result {
  &-amount,
  &-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
  }
}

@media (min-width: $break-point) {
  body {
    display: grid;
    place-content: center;
    min-height: 100vh;
  }

  .main-container {
    position: relative;
    max-width: 920px;
  }
  main {
    display: flex;
  }

  .card {
    flex: 1;
  }

  .input-form-people {
    margin-bottom: 0;
  }

  .result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 415px;
    margin: 0;

    &-amount,
    &-total {
      margin: 15px 0 50px;
    }

    button {
      margin-top: auto;
    }
  }

  footer {
    position: absolute;
    bottom: -25px;
  }
}

/*
// COMPONENTS
// ==========
*/
.main-container {
  background-color: $White;
}

.card,
.main-container {
  border-radius: 15px;
}

.card {
  padding: 35px 30px;

  &.result {
    padding: 45px 25px 25px;
    background-color: $Very-dark-cyan;
  }
}

header {
  text-align: center;
}

input[type='number'] {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: $Light-grayish-cyan-2;

  &:focus {
    outline: 1px solid $Strong-cyan;
  }
}

.input-field {
  position: relative;

  input {
    &::placeholder {
      color: $Light-grayish-cyan-1;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: calc(50% - 10px);
    left: 15px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
.input-form-bill {
  .input-field {
    &::before {
      background-image: url('../images/icon-dollar.svg');
    }
  }
}
.input-form-people {
  .input-field {
    &::before {
      background-image: url('../images/icon-person.svg');
    }
  }

  input.error {
    border: 1px solid indianred;
  }
}

.input-form-tip {
  input.btn {
    width: 145px;
    color: $White;
    background-color: $Very-dark-cyan;

    &:hover,
    &:focus {
      background-color: $Light-grayish-cyan-1;
      color: $Very-dark-cyan;
      outline: none;
    }

    &.active {
      background-color: $Strong-cyan;
      color: $Very-dark-cyan;
    }

    &#custom {
      text-align: right;
      padding: 5px;
      background-color: $Light-grayish-cyan-2;
      color: $Very-dark-cyan;
    }
  }
}

.btn {
  padding: 5px 15px;
  border: 0;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.btn-primary {
  width: 100%;
  background-color: $Strong-cyan;

  &:hover {
    background-color: $Light-grayish-cyan-1;
  }

  &.disabled {
    opacity: 0.3;
    cursor: auto;

    &:hover {
      background-color: $Strong-cyan;
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

@media (min-width: $break-point) {
  .main-container {
    padding: 30px;
  }
  .card {
    padding: 20px;
  }

  .input-form {
    padding-right: 50px;
  }

  .input-form-tip {
    input.btn {
      width: 115px;
    }
  }
}
